{% extends "base.html" %}
{% block content %}
<h1>LogIn Page</h1>
{% if wrongPassword %}
    <div>Benutzername ist falsch</div>
{% endif %}
<form method="POST" action="/login/">
    {% csrf_token %} 
    <input type="hidden" name="redirect" value="{{redirect}}"> 
    <div><input name="username" type="text"></div> 
    <div><input name="password" type="password"></div>
    <div><button>Login</button></div>
</form>
{% if not request.user.is_authenticated %}
<div>Noch keinen Account: <a href="/register/" class="colorBlue">registrieren</a></div>
{% endif %}
{% if request.user.is_authenticated %}
<div>You are allready logged in</div>
{% endif %}
{% endblock %}